@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 44%, rgba(173,173,173,1) 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}